<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162789034316-4o041e81i11mra5nvse7l0o2pluvm77l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162789034316-4o041e81i11mra5nvse7l0o2pluvm77l</string>
	<key>API_KEY</key>
	<string>AIzaSyCmnzYYyYkopjHoMJSuUgYFHEje1268GIY</string>
	<key>GCM_SENDER_ID</key>
	<string>162789034316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akay.PicMap</string>
	<key>PROJECT_ID</key>
	<string>pickimage-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>pickimage-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162789034316:ios:02a512045c94d0fd8b67e9</string>
</dict>
</plist>